# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/readable/node_modules
/readable//.pnp
.pnp.js

# testing
/readable//coverage

# production
/readable//build

# misc
/readable/.DS_Store
/readable/.env.local
/readable/.env.development.local
/readable/.env.test.local
/readable/.env.production.local

/readable/npm-debug.log*
/readable/yarn-debug.log*
/readable/yarn-error.log*
